.page-sections
  &__section
    position: relative

  &__section-container
    &--title-override
      h1, h2, h3, h4, h5, h6
        color: var(--headers)

    &.bg--bg1
      background: var(--bg-1)

    &.bg--bg2
      background: var(--bg-2)
