.popup
  text-align: center

  .base-modal__main
    background: var(--popup-background, #{$white})

  &__container
    display: flex
    flex-direction: column
    align-items: center
    gap: 2rem
    @include nexus
      gap: 1rem

  &__title
    @extend %h2
    color: var(--popup-titles, var(--headers))

  &__text
    color: var(--popup-text, var(--text))

  &__image
    width: 60%
    height: auto
    aspect-ratio: 2/1
    @include nexus
      width: 100%
