#page-wrapper(tabindex='-1')
  BaseAccess(:props='global')
  SkipLink
  transition(name='hero-fade')
    BaseLoader(v-if='!$store.state.siteLoaded')
  TheNavigation(:theme='theme')
  main.main-content#main-content(tabindex='-1')
    nuxt
  TheFooter
  Popup(v-if='popupActive && popupProps', :props='popupProps', @closemodal='popupActive = $event')
  ContentStructureToolbar(v-if='$store.state.customizationEnabled')
  CustomizationToolbar(v-if='$store.state.customizationEnabled')
  CustomizationContextMenu(v-if='$store.state.customizationEnabled')
  DevModeBanner(v-if='showDevModeBanner')
